<configuration>
	<config>
		<add key="globalPackagesFolder" value="C:\Users\PC\AppData\Local\Temp\JsonSchemaGeneratorNuget\packages"/>
	</config>
	<packageSources>
		<clear/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
		<add key="dev" value="F:\dev\git\RhoMicro.CodeAnalysis\JsonSchemaGenerator\bin\Debug\"/>
	</packageSources>
</configuration>
